@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
  background: #111111;
}

/* share  */
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  border: none;
}

/* navbar style */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  width: 85%;
  margin: 0 auto;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  padding-top: 20px;
}
.nav-name {
  color: rgb(230, 83, 60);
  font-size: 30px;
  font-weight: 800;
}
ul > a {
  text-decoration: none;
  padding: 30px;
  color: white;
}
/* .bar{
    display: none;
    color: white;
} */
/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  width: 85%;
  margin: 0 auto;
}
.banner-all-text {
  width: 50%;
  border: 2px solid violet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-text {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
}
.italic{
    
}
.banner-des {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.banner-all-btn {
  border: 2px solid red;
  /* display: flex;
    justify-content: flex-start; */
}
.banner-btn {
  color: white;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
}
.banner-btn1 {
  color: white;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border: 1px solid white;
  background-color: black;
  margin-left: 20px;
  border: 1px solid white;
}
.banner-img {
  /* width: 25%; */
  border: 2px solid red;
  width: 349px;
  /* height: 580px; */
  left: 877px;
  top: 135px;
}
.banner-img img {
  width: 100%;
  height: 100%;
  /* position: sticky; */
}
.abc {
  width: 193px;
  height: 98px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 1300px;
  top: 230px;
}

/* main part1 styles */

.main-1 {
  border: 2px solid white;
  width: 55%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.main-1 h2 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}
.main-1 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* all card style */

.all-card {
  border: 3px solid white;
  color: aliceblue;
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 100px;
}
.card {
  width: 231px;
  height: 340px;
  /* border: 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-img img {
  border-radius: 150px;
  margin-bottom: 30px;
}
.card p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 6px;
}
/* responsive  */

@media screen and (max-width: 576px) {
  .navbar {
    width: 90%;
  }
  .links {
    display: none;
  }

  .bar {
    /* color: white; */
  }

  /* banner styles  */
  .banner {
    flex-direction: column;
    width: 90%;
  }
  .banner-all-text {
    width: 100%;
    margin-bottom: 50px;
  }
  .banner-text {
    font-size: 40px;
  }
  .banner-all-btn {
    display: flex;
  }
  .banner-img {
    width: 100%;
  }
  .abc {
    position: absolute;
    left: 225px;
    top: 540px;
  }

  /* main part1 styles */
  .main-1 {
    width: 90%;
    margin-top: 1px;
  }

  .all-card {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 66px;
  }
  .card {
    width: 300px;
    height: 374px;
    margin-bottom: 36px;
  }
  .card-img {
    width: 250px;
    margin-bottom: 15px;
  }
  .card-img img {
    border-radius: 150px;
    width: 100%;
  }
}
